@media screen and (max-width:1024px){
    .landing .carouselText {
        top: 20%;
        left: 8%;
    }
    .landing .carouselText h1{
        font-size: 65px;
    }
    .trend .cards img {
        height: 300px;
    }
    .trend .cards .cardText {
        bottom: 20%;
        left: 5%;
    }
    .trend .cards .cardText p {
        font-size: 16px;
    }
    .trend .cards .cardText h2 {
        font-size: 40px;
        padding: 15px 0;
    }
    .video .videoText {
        width: max-content;
        top: 26%;
        left: 29%;
    }
    footer .toEmail{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    footer .link{
        width: 98%;
    }
    .trend .cards {
        margin-inline-start: 2px;
        margin-inline-end: 2px;
    }
    .shiping .checkOut {
        padding: 13px 17px;
    }
    .cartTable .colum{
        display: none;
    }
    .modal-body .modalText {
        overflow-y: scroll;
        height: 80vh;
    }
    .salary .checkOut {
        width: 100%;
        padding: 12px 18px;
        font-size: 13px;
    }
    .nav-pills {
        width: 54%;
        margin: auto;
    }
    .check {
        background-position: 0%;
    }
    .thank .thankHead h1{
        font-size: 55px;
    }
    .thank .thankHead {
        width: 60%;
        text-align: center;
    }
    .best .storyText .checkOut {
        width: 55%;
    }
    .not .checkOut {
        width: 40%;
        margin: auto;
    }
}
@media screen and (max-width:992px){
    .landing .carouselText {
        top: 20%;
        left: 8%;
    }
    .landing .carouselText h1{
        font-size: 65px;
    }
    .trend .cards img {
        height: 300px;
    }
    .trend .cards .cardText {
        bottom: 20%;
        left: 5%;
    }
    .trend .cards .cardText p {
        font-size: 16px;
    }
    .trend .cards .cardText h2 {
        font-size: 40px;
        padding: 15px 0;
    }
    .video .videoText {
        width: max-content;
        top: 26%;
        left: 29%;
    }
    footer .toEmail{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    footer .link{
        width: 98%;
    }
    .trend .cards {
        margin-inline-start: 2px;
        margin-inline-end: 2px;
    }
    .shiping .checkOut {
        padding: 13px 17px;
    }
    .cartTable .colum{
        display: none;
    }
    .modal-body .modalText {
        overflow-y: scroll;
        height: 80vh;
    }
    .salary .checkOut {
        width: 100%;
        padding: 12px 18px;
        font-size: 13px;
    }
    .nav-pills {
        width: 54%;
        margin: auto;
    }
    .check {
        background-position: 0%;
    }
    .thank .thankHead h1{
        font-size: 55px;
    }
    .thank .thankHead {
        width: 60%;
        text-align: center;
    }
    .best .storyText .checkOut {
        width: 55%;
    }
    .not .checkOut {
        width: 40%;
        margin: auto;
    }
}
@media screen and (max-width:768px){
    .mt-80 {
        margin-top: 45px;
    }
    #headerPhone{
        display: block;
    }
    header .rows{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    header .navbar2{
        flex-direction: row;
    }
    header .colum3{
        width: 26%;
    margin-inline-start: 149px;
    margin-top: 2px;
    }
    #headerDesktop{
        display: none;
    }
    .offcanvas.show:not(.hiding), .offcanvas.showing {
        height: 100vh;
        width: 40%;
    }
    .offcanvas.offcanvas-end{
        width: 40%;
    }
    .offcanvas.offcanvas-start{
        width: 40%;
    }
    .landing .carouselText{
        text-align: start !important;
    }
    .landing .carouselText h1{
        font-size: 50px;
    }
    .carousel-inner2 {
        height: 400px;
    }
    .carousel-inner2 img{
        height: 400px;
        object-fit: cover;
    }
    .landing .carouselText {
        top: 20%;
        left: 3%;
    }
    .link{
        padding: 16px 40px;
        font-size: 10px;
    }
    .trend .cards img {
        height: 229px;
    }
    .trend .cards .cardText {
        bottom: 20%;
        left: 5%;
    }
    .trend .cards .cardText p {
        font-size: 12px;
    }
    .trend .cards .cardText h2 {
        font-size: 30px;
        padding: 15px 0;
    }
    .head {
        font-size: 35px;
    }
    .productCard .overlay .actions .add svg {
        width: 20px;
    }
    .productCard .overlay {
        opacity: 1;
    }
    .productCard .overlay img{
        opacity: 0;
    }
    .productCard .overlay:hover img{
        opacity: 1;
    }
    .productCard .overlay .actions {
        width: 79%;
        bottom: 18%;
        opacity: 1;
        z-index: 11;
        left: 19%;
    }
    .productCard .overlay .actions .add {
        padding: 5px 10px;
    }
    .productCard:hover .overlay .actions{
        bottom: 20%;
    }
    .video .videoText .parag1 {
        font-size: 16px;
    }
    .video .videoText {
        width: max-content;
        top: 22%;
        left: 24%;
    }
    .video .videoText .heading {
        font-size: 46px;
        padding: 20px 0;
    }
    .video video {
        height: 390px;
    }
    .review .test {
        width: 90%;
        margin: auto;
    }
    .review span svg{
        width: 16%;
    }
    .review h5{
        font-size: 20px;
        line-height: 1.5;
    }
    .marquee {
        margin: 20px 0;
    }
    footer .details {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    footer .toEmail{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    footer .link{
        width: 98%;
    }
    .trend .cards {
        margin-inline-start: 2px;
        margin-inline-end: 2px;
    }
    .filterCateg{
        display: block;
        left: -3%;
    }
    .product .productCard .overlay .actions {
        bottom: 20%;
    }
    .filterData{
        display: none;
    }
    .cartTable .colum{
        display: none;
    }
    .shiping{
        margin-top: 20px;
    }
    .shiping .checkOut {
        padding: 15px 28px;
        width: 100%;
        display: block;
        text-align: center;
    }
    .modal-dialog{
        max-width: 90%;
    }
    .modal-body .modalText {
        overflow-y: scroll;
        height: 68vh;
    }
    .salary .checkOut {
        width: 100%;
        padding: 12px 18px;
        font-size: 13px;
    }
    .flex-grow-1{
        font-size: 13px;
    }
    .nav-pills {
        width: 72%;
        margin: auto;
    }
  .modal-body2 {
        padding: 20px 43px !important;
    }
    .check .checkimage img{
        width: 100px;
    }
    .check .checktable{
        margin-inline-start: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .check{
        background-position: 80%;
        position: relative;
        z-index: 1;
        }
        .check::after{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: -1;
            background-color: rgba(255, 255, 255, 0.155);
        }
    .check .row{
        flex-direction: column-reverse;
    }
    .thank{
        height: 90vh;
    }
    .thank .thankHead {
        width: 100%;
        text-align: start;
        margin-top: 50px;
    }
    .thank .thankHead h1{
        font-size: 35px;
    }
    .thank .thankHead p{
        font-size: 16px;
        margin-top: 10px;
    }
    .thank .checkOut {
        width: 40%;
    }
    .p-90{
        padding: 50px 0;
    }
    .about{
        height: 75vh;
    }
    .about .aboutText h1{
        font-size: 40px;
    }
    .overparag{
        width: 90%;
    }
    .story .storyText h2{
        font-size: 30px;
    }
    .story .storyText p{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .our .ourText{
        margin-bottom: 20px;
    }
    .our .ourText h4{
        font-size: 17px;
    }
    .desc .descText {
        width: 100%;
    }
    .desc .descText h4 {
        font-size: 18px;
        line-height: 1.4;
    }
    .best .storyText {
        margin: 20px 0;
    }
    .best .storyText .checkOut {
        width: 55%;
    }
    .box .boxChild .boxText h6 {
        font-size: 30px;
    }
    .not .checkOut {
        width: 52%;
        margin: auto;
    }
}
@media screen and (max-width:600px){
    .mt-80 {
        margin-top: 45px;
    }
    #headerPhone{
        display: block;
    }
    header .rows{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    header .navbar2{
        flex-direction: row;
    }
    header .colum3{
        width: 26%;
    margin-inline-start: 49px;
    margin-top: 2px;
    }
    #headerDesktop{
        display: none;
    }
    .landing .carouselText{
        text-align: start !important;
    }
    .landing .carouselText h1{
        font-size: 35px;
    }
    .carousel-inner2 {
        height: 350px;
    }
    .carousel-inner2 img{
        height: 350px;
        object-fit: cover;
    }
    .landing .carouselText {
        top: 20%;
        left: 3%;
    }
    .link{
        padding: 16px 40px;
        font-size: 10px;
    }
    .trend .cards{
        margin-bottom: 5px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .trend .row{
        --bs-gutter-x: 0rem;
    }
    .trend .cards img {
        height: 229px;
    }
    .trend .cards .cardText {
        bottom: 20%;
        left: 5%;
    }
    .trend .cards .cardText p {
        font-size: 12px;
    }
    .trend .cards .cardText h2 {
        font-size: 30px;
        padding: 15px 0;
    }
    .head {
        font-size: 35px;
    }
    .products .row .col-sm-6{
        width: 50%;
    }
    .productCard .overlay .actions .add svg {
        width: 15px;
    }
    .productCard .overlay {
        opacity: 1;
        height: 64%;
    }
    .productCard .overlay img{
        opacity: 0;
    }
    .productCard .overlay:hover img{
        opacity: 1;
    }
    .productCard .overlay .actions {
        width: 79%;
        bottom: 18%;
        opacity: 1;
        z-index: 11;
        left: 16%;
    }
    .productCard .overlay .actions .add {
        padding: 4px 10px;
    }
    .productCard:hover .overlay .actions{
        bottom: 20%;
    }
    .video .videoText .parag1 {
        font-size: 12px;
    }
    .video .videoText {
        width: max-content;
        top: 25%;
        left: 8%;
    }
    .video .videoText .heading {
        font-size: 36px;
        padding: 20px 0;
    }
    .video video {
        height: 390px;
    }
    .review .test {
        width: 90%;
        margin: auto;
    }
    .review span svg{
        width: 16%;
    }
    .review h5{
        font-size: 20px;
        line-height: 1.5;
    }
    .marquee {
        margin: 20px 0;
    }
    footer{
        padding-bottom: 50px;
    }
    footer .details {
      margin-top: 40px;  
    }
    footer .toEmail{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    footer .link{
        width: 98%;
    }
    footer .copy {
        padding: 30px 39px;
    }
    footer .copy img{
        width: 100%;
    }
    .btnFixed {
        bottom: 100px;
        right: 18px;
    }
    .product .productCard .overlay .actions {
        bottom: 20%;
    }
    .filterCateg{
        display: block;
        left: -5%;
    }
    .offcanvas.show:not(.hiding), .offcanvas.showing {
        height: 100vh;
        width: 70%;
    }
    .offcanvas.offcanvas-end{
        width: 70%;
    }
    .offcanvas.offcanvas-start{
        width: 70%;
    }
    .filterData{
        display: none;
    }
    .cartTable .col-sm-12{
        display: none;
    }
    .cartTable .back .backtoShop {
        padding: 15px 24%;
        margin-bottom: 10px;
    }
    .cartTable .back .backtoShop2{
        padding: 15px 25.5%;
        margin-top: 21px;
    }
    .shiping .checkOut {
        padding: 15px 28px;
        width: 100%;
        display: block;
        text-align: center;
    }
    .cart .shoptext h1 {
        font-size: 35px;
    }
    .cartTable .colum{
        display: block;
    }
    .modal{
        margin: auto;
    }
    .modal-dialog{
        max-width: 90%;
        margin: auto;
    }
    .modal-body .modalText {
        overflow-y: scroll;
        height: 41vh;
        margin-top: 25px;
    }
    .modal-body .productImage {
        height: 269px;
    object-fit: contain;
    object-position: center;
    }
    .details .modalText2{
        margin-top: 20px;
    }
    .nav2 {
        padding: 8px 20px;
        margin-inline-end: 2px;
        font-size: 12px;
    }
    .nav-pills {
        width: 97%;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        padding: 8px 25px;
        margin-inline-end: 3px;
    }
    .productText .toProduct{
        font-size: 14px;
    }
    .flex-grow-1{
        font-size: 13px;
    }
    .offcanvas-body {
        padding: 5px 10px;
    }
   .modal-body2 {
        padding: 0px 20px !important;
    }
    .dialog2{
        max-width: 100%;
}
.check{
position: relative;
z-index: 1;
}
.check::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.155);
}
.check .checkimage img{
    width: 73px;
}
.check .row{
    flex-direction: column-reverse;
}
.check .checktable{
    margin-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.thank{
    background-position: 60%;
    position: relative;
    z-index: 1;
}

.thank::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.149);
}
.thank .thankHead {
    width: 100%;
    text-align: start;
}
.thank .thankHead h1{
    font-size: 27px;
}
.thank .thankHead p{
    font-size: 14px;
    margin-top: 10px;
}
.thank .checkOut {
    width: 100%;
}
.p-90{
    padding: 50px 0;
}
.about{
    height: 75vh;
}
.about .aboutText h1{
    font-size: 40px;
}
.overparag{
    width: 90%;
}
.story .storyText h2{
    font-size: 30px;
}
.story .storyText p{
    font-size: 15px;
    margin-bottom: 10px;
}
.our .ourText{
    margin-bottom: 20px;
}
.desc2 .descText {
    width: 100%;
}
.desc2 .descText h4 {
    font-size: 18px;
    line-height: 1.4;
}
.best .storyText {
    margin: 20px 0;
}
.best .storyText .checkOut {
    width: 55%;
}
.box .boxChild .boxText h6 {
    font-size: 30px;
}
.not .notImg img {
    width: 214px;
    margin: auto;
}
.not{
    width: 100%;
    padding-top: 150px;
}
.not .checkOut {
    width: 60%;
    margin: auto;
}
.cartTable .back {
    text-align: center;
}
}